:root{
    --primary-color: #222;
    --secondary-color: #859B95;
    --tertirary-color: #14182A;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #14182A;
    background: #e6d4c6 url('../images/footer.png') repeat center center;
}



a {color: #333;}
a:hover {color: #14182A;}

.header .btn {
    border: solid 1px #222222;
    position: relative;
    padding: 12px 30px 15px 25px;
    border-radius: 0;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Epilogue', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    width: 200px;
}

.header .btn::before {
    content: '';
    display: block;
    border: solid 1px #222222;
    position: absolute;
    left: -5px;
    top: -5px;
    height: 100%;
    width: 100%;
}

.outer-btn {
    border: .3px solid #979797;
    height: 42px;
    width: 160px;
}

.desktop-btn {
    margin-left: 30px;
    position: absolute;
    right: 60px
}

h3 {
    position: relative;
    max-width: 379px;
    font-size: 62px;
    line-height: 70px;
    text-transform: uppercase;
    color: #14182A;
}

.owl-theme img {
    margin-left: -10px;
    padding-top: 20px;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-nav button {
    height: 60px !important;
    width: 60px !important; 
    border: .3px solid #000000 !important;
    border-radius: 0 !important;
    outline: none !important;
    transform: rotate(-45deg)
}

.owl-nav button:hover {
    background-color: #f9f9f9 !important;
    opacity: 0.3;
}

.owl-nav button div {
    position: relative;
    transform: rotate(45deg);
    padding-top: 2px;
}

.owl-nav button div:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 225px;
    background-color: #000000;
}

.owl-nav button div.left:before {
    left: 23px;
}

.owl-nav button div.right:before {
    right: 23px;
}

.owl-nav button:hover .arrow-right,
.owl-nav button:hover .arrow-left {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.owl-nav button:hover div:before {
    background-color: #000000;
}

/*  OWL WORK */
.owl-carousel .owl-item img {
    display: block;
    height: 90vh;
    margin: 0 auto;
    width: auto !important;
}

@media (max-width:500px) {
    .owl-carousel .owl-item img {
    display: block;
    height: 50vh;
    margin: 0 auto;
    width: auto !important;
    }
}

.owl-carousel .owl-item img::after {
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
}

.arrow-right,
.arrow-left {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.arrow-right {
 transform: rotate(135deg);
 margin: 0 25px 0 auto;
}

.arrow-left {
    margin: 0 auto 0 25px;
    transform: rotate(-45deg);
}
.top-header {
    padding: 2vh 5vh 5vh 5vh;
}
.navbar {
    padding: 0;
}

.nav-link {
    padding: 0;
}
.navbar-brand {
    margin: 0 20px;
    width: 200px;
}

li.nav-item {

    padding: 0 1rem !important;
}

ul.navbar-nav.first-nav {
    margin-right: 2rem;
}

.mobile-menu .navbar-nav {
    flex-direction: initial;
    justify-content: space-between;
}

.mobile-menu .navbar-nav .navbar-brand {
    position: absolute;
    left: calc(50% - 47px);
    top: 30px;
}

/* Toggle mobile */

.menu-icon {
    cursor : pointer;
    z-index: 21;
    padding-right: 15px;
}

.navbar-toggler-bar {
    background        : #000000;
    display           : block;
    position          : relative;
    width             : 60px;
    height            : 1px;
    border-radius     : 1px;
    -webkit-transition: all 0.3s;
    -moz-transition   : all 0.3s;
    transition        : all 0.3s;
}

.navbar-toggler-bar.top-x {
    background: var(--secondary-color);
    width: 26px;
    opacity: 1;
}

.navbar-toggler-bar.top-x:nth-child(2) {
    opacity: 0;
}

.clicked.bottom-bar {
    transform: translatex(+150%);
}

.clicked.top-bar {
    transform: translatex(+150%);
}

.bottom-bar {
    transform: translatex(0);
    z-index  : 21;
}

.top-bar {
    transform: rotate(0);
    z-index  : 21;
}

.top-close {
    position: relative;
    transform       : rotate(45deg);
    transform-origin: 0;
    width           : 0;
    z-index         : 21;
}

.middle-close {
    opacity: 0;
    display: block;
    z-index: 21;
}

.bottom-close {
    position: relative;
    width           : 0;
    transform       : rotate(-45deg);
    transform-origin: 0;
    z-index         : 21;
}

.menu-top-icon:hover .top-close,
.menu-top-icon:hover .bottom-close {
    width: 0
}

.top-close:before,
.bottom-close:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 26px;
    height: 1px;
    background-color: red;
    transform: translateX(100%);
    opacity: 0;
}

.bottom-close:before {
    transform: translateX(-100%);
}

.menu-top-icon:hover .top-close:before {
    animation: move .5s forwards;
    animation-delay: .5s;
    /*display: block;*/
}

.menu-top-icon:hover .bottom-close:before {
    animation: move2 .7s forwards;
    animation-delay: .7s;
}

.clicked.top-close {
    width: 25px;
}

.clicked.bottom-close {
    width: 25px;
}

.menu-icon a {
    text-decoration: none !important;
}

.line,
.line-2 {
    transform: translateX(0);
}

.line-after {
    width: 0;
    height: 1px;
    top: -1px;
}

.menu-icon:hover .line {
    animation: hideRight .5s forwards;
}

.menu-icon:hover .line-after {
    animation: showLeft .5s forwards;
    animation-delay: .5s;
}

.menu-icon:hover .lines-2 .line d{
    animation: hideRight .8s forwards;
}

.menu-icon:hover .lines-2 .line-after {
    animation: showLeft .8s forwards;
    animation-delay: .8s;
}

.top-x {
    margin: 7px;
}

/* End Toggle mobile */


.side-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    z-index: 101 !important;
    background-color: #212529;
    transition: all .3s ease-in-out;
}

#closeBook {
    cursor: pointer;
    display: none;
}

.inner-side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-side-menu ul{
    list-style-type: none;
    padding-left: 0;
}

.menu-top-icon{
    position: absolute;
    right: 25px;
    top: 18px;
}

.social-media a {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    transition: all .2s ease-in-out;
    color: #000000;
    text-decoration: none;
}

.social-media a:hover {
    background-color: #222;
    color: #fff;
}

a.nav-link {
    color: #222222;
    text-transform: uppercase;
    font-family: 'Epilogue', sans-serif;
    padding-right: 0 !important;
    padding-left: 0 !important;
    letter-spacing: 1px;
    font-size: 14px;
}

header {
    margin-bottom: 200px;
    
}
section.full-bg-img {
    min-height: 100vh;
}


.chef .content {
    max-width: 500px;
}



h1 {font-family: IvyMode; font-size: 5rem; line-height: 5rem;
margin-bottom: 3rem;}


h2 {font-family: IvyMode; font-size: 2rem; line-height: 3rem;
margin-bottom: 3rem;}

h3 {font-size: 1rem;
margin-bottom: 0;
letter-spacing: 2px;
text-transform: uppercase;
color: #14182A;
}


.award h4{
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 8px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 80px auto;
    max-width: 570px;
    font-family: IvyMode;

}



.award h4:before {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 40px;
    background-color: #000;
}

.award p {
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 30px;
    margin-bottom: 0;
}

.link-table {
    border: solid 1px #444; 
    padding: 0 10px; 
    margin-top: 40px;
}

.link-table a {
    display: block; 
    padding: 10px;
}
.link-table a.last-link {
    border-top: solid 1px #444;
}




.p-line {
    position: absolute;
    left: 50%;
    bottom: -50vh;
    height: 40vh;
    width: 1px;
    background-color: #000;
    z-index: 100;
}

@media (max-width:992px) {
    .p-line {
        height: 300px;
        bottom: -250px;
    }
    }


/* FEATURED CONTENT SECTION */
.featured-content h2 {
    font-size: 62px; transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: top left; min-width: 600px; letter-spacing: 12px; line-height: 100%; text-transform: uppercase;
}

.featured-content h2 span {display: inline-block; padding-left: 80px;}
.featured-content h3 { font-family: IvyMode; font-size: 24px;}
.content-padding p, .featured-content h3{
    max-width: 80%;
    margin-left: 20%;
}

@media (max-width:992px) {
    .featured-content h2 {
        font-size: 32px;
    }
    }

/* DYNAMIC GALLERY SECTION */
.dynamic-gallery {
    margin-top: 30vh;
     margin-bottom: 10vh;
     min-height: 100vh;
}

/* FOOTER */
footer {
    position: relative;
    padding-top: 66px;
    margin: 100px;
    border: solid 1px #000;
}

@media (max-width:992px) {
    footer {
        margin: 40px;
    }
    }

.gotop {
    width: 32px;
    /* padding: 14px; */
    position: fixed;
    left: 26px;
    bottom: 35px;
    display: none;
    z-index: 1000;
}


#to-top {
    
    width: 1px;
    height: 80px;
    margin: 140px auto 40px auto;
    background: #000;
}

footer p {
    text-transform: uppercase;
    max-width: 350px;
    font-size: 16px;
    line-height: 30px;
    margin: 60px auto 30px auto;
    letter-spacing: 1px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 86px;
}

.social-media a:nth-child(2) {
    border-left: none;
    border-right: none;
}

.footer-copyright {
    position: relative;
    padding: 45px 0;
}

.footer-copyright:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
}

.footer-copyright div {
    opacity: 0.7;
    color: #000;
    font-family: 'Epilogue', sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 30px;
}

/* END FOOTER */

@media (max-width: 1200px) {
    .owl-nav {
        width: 90%;
    }
}

@media (max-width:992px) {
    
    
    
   
    .social-media {
        margin-bottom: 70px;
    }
    footer p {
        font-size: 15px;
        line-height: 25px;
    }
    .footer-copyright {
        padding: 35px 0;
    }
    .social-media a {
        width: 50px;
        height: 50px;
    }
    a.nav-link {
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .header .scroll-down a:before {
        margin-top: 41px;
        height: 120px;
    }
    .header .scroll-down {
        bottom: 80px;
    }
    
    
    h3 {
        font-size: 40px;
        line-height: 57px;
    }
    .chef p {
        font-size: 15px;
        line-height: 20px;
    }
    .gallery {
        padding-bottom: 100px
    }
    
    
   
    
    .owl-nav {
        display: none !important;
    }
    
    .award h4 {
        font-size: 28px;
        line-height: 35px;
        padding-bottom: 40px;
    }
    .social-media {
        margin-bottom: 50px;
    }
    footer p {
        font-size: 13px;
        line-height: 18px;
    }
    .footer-copyright {
        padding: 30px 0;
    }
    .social-media a {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 576px) {
    
    
    
    .social-media {
        margin-bottom: 35px;
    }
    .footer-copyright {
        padding: 20px 0;
    }
    .social-media a {
        width: 40px;
        height: 40px;
    }
    
    
    .mobile-menu .outer-btn {
        display: none;
    }

}

.dark-nav-link {
    opacity: 0.3;
    color: #14182A !important;
    transition: all 0.1s ease-in-out;
}

.light-nav-link {
    opacity: 1;
    
    transition: all 0.1s ease-in-out;
}

.hide {
    display: none !important;
}

@keyframes showLeft {
    from {
        width: 0;
    } to {
          width: 100%;
      }
}

@keyframes hideRight {
    from {
        transform: translateX(0);

    } to {
          transform: translateX(100%);
      }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
          opacity: 1;
          transform: translateX(0%);
      }
}

@keyframes move2 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } to {
          opacity: 1;
          transform: translateX(0%);
      }
}



section {
    margin: 120px 0;
    position: relative;
}


/* DYNAMIC GALLERY */

.delayed-section {
  position: absolute;
  width: 30vw;
  height: 38.87vw;
}
.delayed-section .inner-container {
  will-change: transform;
}
.delayed-section img, .delayed-section video {
  max-width: 100%;
  will-change: transform;
}

#del1 {
  top: 1vh;
  left: 10vw;
}
#del2 {
  top: 10vh;
  left: 60vw;
}
#del3 {
  top: 20vh;
  left: 30vw;
}

.zoom-images {
  
    display: block;
    position: relative;
    float: left;
    
    width: 100%;
    height: 100vh;
}




.color-dark .left-side .logo img , .color-dark .gotop img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* RIGHT STICKY */




/* HAMBURGER */
#mobile-logo {
    width: 100px; 
}
.mobile-bg-image {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
     background: #e6d4c6 url('../images/footer.png') repeat center center;
    top: 0;
    left: 0;
    display:none;
    transition: margin300ms cubic-bezier(0.17,0.04,0.03,0.94);
    z-index: 9999;
}

.menu-list a {
  color:#000;
  text-decoration:none;
  font-size:18px;
  display: inline-block;
  margin:10px 0;
  transition:all 0.5s ease;
}

.menu-list {
  display:none;
  position:absolute;
  width:100%;
  z-index:9999;
  margin-top: 120px;
}

.hide-overflow {
    overflow: hidden;
}

.mobile-menu .mobile-menu-content {
    padding: 100px;
}

.nav-open .mobile-menu  {
    opacity: 1;
    z-index: 9999;
    
}

#close-icon {
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 20px;

}

.mobile-address {margin-top: 20px;}
.mobile-address::before {content: ''; display: block; height: 1px; background: #000; width: 40px; margin-bottom: 30px;}

.menu-list li.nav-item, .menun-list li.nav-item {padding: 0 !important;}
.menu-list li.nav-item  a.nav-link{
    font-family: IvyMode, serif !important;
    font-size: 32px;

}


/* FOOD MENU */

.side-food-menu 
{
    border: solid 1px #333;
    padding: 20px;
    margin-top: 80px;
}

.menu h2 {
    border-bottom: solid 6px #333;
}

.menu-item {
    position: relative;
    margin-bottom: 30px;
   padding-bottom: 20px;
   border-bottom: dotted 1px #333;

}

.menu-item-price {
    font-family: IvyMode, serif;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-item h3 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;

}


